# Server
PORT=3000

# PostgreSQL (Neon DB)
DATABASE_URL=postgresql://user:password@host/dbname?sslmode=require

# Redis
REDIS_URL=redis://localhost:6379

# Batch Writer
BATCH_FLUSH_INTERVAL_MS=10000
BATCH_MAX_BUFFER_SIZE=50

# Cache
CACHE_TTL_SECONDS=60
CACHE_NODE_COUNT=3
